<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="text-primary m-lg-2 navbar-brand" style="font-size: 30px;">congo_</span>
    </div>

    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
